# Ignore everything inside dist/
dist/*

# Except the final exe
!dist/PDFCombiner.exe

# Python cache files
__pycache__/
*.pyc

# Build and dist folders
build/
dist/

# PyInstaller spec file
*.spec

# Virtual environments
venv/
env/

# Log files
*.log
